<!DOCTYPE html>

<html>
    <head>
        <title> Current Solicitations </title>
    </head>
        <body>
            <div class="container">
                {% block content %} 
                     {% for dict_item in parent_dict %} 
                        {% for item in dict_item %}
                            {% for key in item.items() %}
                                <p>{{key[1]}}</p>
                            {% endfor %}
                        {% endfor %} 
                    {% endfor %}
                {% endblock %}
            </div>
        </body>
</html>


