<!DOCTYPE html>

<html>
    <head>
        <title> Current Solicitations </title>
    </head>
        <body>
            <div class="container">
                {% block content %} 
                     {% for dict_item in parent_dict %} 
                        {% for item in dict_item %}
                            {% for key in item.items() %}
                                <h2>Key: {{key[1]}}</h2>
                            {% endfor %}
                        {% endfor %} 
                    {% endfor %}
                {% endblock %}
            </div>
        </body>
</html>

<!--





python_dir = '/Users/Ashley-Macbook-Pro/Developer/Projects_Professonal/Dev_GitHub_Public/atlanta-procurement-bids/myvenv/services/'
loader = jinja2.FileSystemLoader(python_dir)
environment = jinja2.Environment(loader=loader)

from services_scraper import got_info
services_template.render(got_info)
-->

<!--
template = Template('Hello {{ name }}!') 
template.render(name='John Doe')
-->


<!--
<html>
    <head>
        <title> Current Solicitations </title>
    </head>
    <body>
        <table>
            {%  for key, values in get_info  %}
            <tr>
                <td>{{  key  }}</td>
            </tr>
            {%  for item in get_info %}
            <tr>
                {  for key, value in item  }
                <td>{{  value  }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>        
    </body>
</html>

<html>

    <head>
        <title> Current Solicitations </title>
    </head>
    <body>
        <table>
            {% for item in get_info %}
            <tr>
                <td>{{ item }}</td>
            </tr>
            {% for item in get_info %}
            <tr>
                { for key, value in item }
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
-->